.offer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.offer-popup {
  position: relative;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  max-width: 350px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.5s ease;
}

.close-btn {
  position: absolute;
  top: 90%;
  right: 1%;
  background:transparent ;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.offer-content {
  cursor: pointer;
  padding: 1rem;
}

.offer-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
  border-radius: 12px 12px 0 0;
}

.offer-text {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: #333;
}

.offer-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.offer-btn:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}